table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align left
  vertical-align middle
  font-weight normal
}
th {
  font-weight 700
  color $grep-dim
  background-color #ECECEC
  border 1px solid $gray-lighter
  padding 5px
}
td {
  border 1px solid $gray-lighter
  background-color #F8F8F8
  padding 5px
}
